<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"/>
<div class="container mt-5">
    <h1>Журнал</h1><br><br>

   <!-- <div th:each="el : ${entry}" class="alert-info mt-2">
        <h5 th:text="${el.orders}"/>
        <h5 th:text="${el.product_name}"/>
        <h5 th:text="${el.type_of_test}"/>
        <h5 th:number="${el.quantity}"/>
        <h5 th:text="${el.testers_name}"/>
        <h5 th:date="${el.date}"/>
        <h5 th:text="${el.note}"/>
        <a th:href="'/journal/' + ${el.id}" class="btn btn-warning">Подробнее</a>
    </div>-->

        <div th:each="el : ${entry}" class="row">
            <div  class="col-sm">
                <div class="alert alert-success">
                <h5 th:text="${el.orders}"/>
                </div>
            </div>
            <div class="col-sm">
                <div class="alert alert-success">
                <h5 th:text="${el.product_name}"/>
                </div>
            </div>
            <div class="col-sm">
                <div class="alert alert-success">
                <h5 th:text="${el.type_of_test}"/>
                </div>
            </div>
            <div class="col-sm">
                <h5 th:text="${el.quantity}"/>
            </div>
            <div class="col-sm">
                <h5 th:text="${el.testers_name}"/>
            </div>
            <div class="col-sm">
                <h5 th:text="${el.date}"/>
            </div>
            <div class="col-sm">
                <h5 th:text="${el.note}"/>
            </div>
            <div class="col-sm">
                <a th:href="'/journal/' + ${el.id}" class="btn btn-warning">Подробнее</a>
            </div>
        </div>
    </div>
   <!-- <ul th:each="el : ${entry}" class="list-group list-group-horizontal">
        <li class="list-group-item-success"><h5 th:text="${el.orders}"/></li>
        <li class="list-group-item"><h5 th:text="${el.product_name}"/></li>
        <li class="list-group-item"><h5 th:text="${el.type_of_test}"/></li>
        <li class="list-group-item"><h5 th:text="${el.quantity}"/></li>
        <li class="list-group-item"><h5 th:text="${el.testers_name}"/></li>
        <li class="list-group-item"><h5 th:text="${el.date}"/></li>
        <li class="list-group-item"><h5 th:text="${el.note}"/></li>
        <li class="list-group-item"><a th:href="'/journal/' + ${el.id}" class="btn btn-warning">Подробнее</a></li>
    </ul>-->
    <!-- <div th:each="el : ${entry}" class="alert-info mt-2">
        <h5 th:text="${el.orders}"/>
        <h5 th:text="${el.product_name}"/>
        <h5 th:text="${el.type_of_test}"/>
        <h5 th:number="${el.quantity}"/>
        <h5 th:text="${el.testers_name}"/>
        <h5 th:date="${el.date}"/>
        <h5 th:text="${el.note}"/>
        <a th:href="'/journal/' + ${el.id}" class="btn btn-warning">Подробнее</a>
    </div>-->

</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>